<style>
    input.ng-invalid {
        border: 1px solid red;
    }
</style>

<div class="container body-content">

    <h2>Create</h2>

    <form name="instructorForm">
        <div class="form-horizontal">
            <h4>Instructor</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="LastName">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="LastName" ng-model="instructor.LastName" type="text" placeholder="Last Name" required/>
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.LastName.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="FirstMidName">First Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="FirstMidName" ng-model="instructor.FirstMidName" type="text" placeholder="First Name" required/>
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.FirstMidName.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="HireDate">Hire Date</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="HireDate" ng-model="instructor.HireDate" type="date" placeholder="Hire Date" required />
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.HireDate.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="OfficeAssignment_Location">Office Location</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="Location" ng-model="instructor.Location" type="text" placeholder="Office Location" required />
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.Location.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table ng-init="getCourses()">
                        <tr ng-repeat="course in courses">
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       ng-model="instructor.CourseId" />
                                {{ course.CourseID }} {{ course.Title }}
                            </td>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" ng-disabled="instructorForm.$invalid" value="Save" ng-click="saveInstructor(instructor)" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a ui-sref="home.instructors">Back to List</a>
    </div>

</div>
