<style>
    input.ng-invalid {
        border: 1px solid red;
    }
</style>

<div class="container body-content">

    <h2> Update </h2>

    <form name="instructorForm" ng-init="getInstructorById()">
        <div class="form-horizontal">
            <h4>Instructor</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="LastName">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="instructor.LastName" type="text" placeholder="Last Name" />
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.LastName.$invalid"> Required!</span>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="FirstMidName">First Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="instructor.FirstMidName" type="text" placeholder="First Name" />
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.FirstMidName.$invalid"> Required!</span>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="HireDate">Hire Date</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="instructor.HireDate" type="date" placeholder="Hire Date" required />
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.HireDate.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="OfficeAssignment_Location">Office Location</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="instructor.Location" type="text" placeholder="Office Location" required />
                    <span class="field-validation-valid text-danger" ng-show="instructorForm.Location.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr></tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       value="1045" />
                                1045   Calculus
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       value="1050" />
                                1050   Chemistry
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       value="2021" />
                                2021   Composition
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       value="2042" />
                                2042   Literature
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       value="3141" />
                                3141   Trigonometry
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       value="4022" />
                                4022   Microeconomics
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox"
                                       name="selectedCourses"
                                       value="4041" />
                                4041   Macroeconomics
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" ng-disabled="instructorForm.$invalid" value="Update" ng-click="updateInstructor(instructor)" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a ui-sref="home.instructors">Back to List</a>
    </div>

</div>
