<div class="container body-content">



    <h2>Instructors</h2>

    <p>
        <a ui-sref="home.createInstructor">Create New</a>
    </p>
    <table class="table">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>

        <tr class="">
            <td>
                Abercrombie
            </td>
            <td>
                Kim
            </td>
            <td>
                1995-03-11
            </td>
            <td></td>
            <td>
                2021   Composition <br />
                2042   Literature <br />

            </td>
            <td>
                <a href="/Instructor/Index/66">Select</a> |
                <a href="/Instructor/Edit/66">Edit</a> |
                <a href="/Instructor/Details/66">Details</a> |
                <a href="/Instructor/Delete/66">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Asante
            </td>
            <td>
                Kofi
            </td>
            <td>
                2014-03-03
            </td>
            <td>
                asdf
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/64">Select</a> |
                <a href="/Instructor/Edit/64">Edit</a> |
                <a href="/Instructor/Details/64">Details</a> |
                <a href="/Instructor/Delete/64">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                BOLIVAR CRUZADO
            </td>
            <td>
                JOSE ANTONIO
            </td>
            <td>
                2017-05-26
            </td>
            <td>
                CA&#209;ETE LIMA PERU
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/45">Select</a> |
                <a href="/Instructor/Edit/45">Edit</a> |
                <a href="/Instructor/Details/45">Details</a> |
                <a href="/Instructor/Delete/45">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Con
            </td>
            <td>
                Toso
            </td>
            <td>
                2017-06-06
            </td>
            <td>
                Boston
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/48">Select</a> |
                <a href="/Instructor/Edit/48">Edit</a> |
                <a href="/Instructor/Details/48">Details</a> |
                <a href="/Instructor/Delete/48">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Fakhouri
            </td>
            <td>
                Fadi
            </td>
            <td>
                2002-07-06
            </td>
            <td>
                Smith 17
            </td>
            <td>
                1045   Calculus <br />
                2042   Literature <br />
                4022   Microeconomics <br />

            </td>
            <td>
                <a href="/Instructor/Index/12">Select</a> |
                <a href="/Instructor/Edit/12">Edit</a> |
                <a href="/Instructor/Details/12">Details</a> |
                <a href="/Instructor/Delete/12">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                fawfew
            </td>
            <td>
                afweafwa
            </td>
            <td>
                2017-06-29
            </td>
            <td>
                fawfew
            </td>
            <td>
                2042   Literature <br />
                4022   Microeconomics <br />

            </td>
            <td>
                <a href="/Instructor/Index/61">Select</a> |
                <a href="/Instructor/Edit/61">Edit</a> |
                <a href="/Instructor/Details/61">Details</a> |
                <a href="/Instructor/Delete/61">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                fiest
            </td>
            <td>
                diad
            </td>
            <td>
                2212-11-21
            </td>
            <td>
                Kos
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/34">Select</a> |
                <a href="/Instructor/Edit/34">Edit</a> |
                <a href="/Instructor/Details/34">Details</a> |
                <a href="/Instructor/Delete/34">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Gil  af
            </td>
            <td>
                Montas perez
            </td>
            <td>
                2017-05-01
            </td>
            <td>
                172.169.78
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/21">Select</a> |
                <a href="/Instructor/Edit/21">Edit</a> |
                <a href="/Instructor/Details/21">Details</a> |
                <a href="/Instructor/Delete/21">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                gudie
            </td>
            <td>
                misgana
            </td>
            <td>
                2017-06-22
            </td>
            <td>
                12
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/57">Select</a> |
                <a href="/Instructor/Edit/57">Edit</a> |
                <a href="/Instructor/Details/57">Details</a> |
                <a href="/Instructor/Delete/57">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Harui
            </td>
            <td>
                Roger
            </td>
            <td>
                1998-07-01
            </td>
            <td>
                Gowan 27
            </td>
            <td>
                1050   Chemistry <br />
                3141   Trigonometry <br />

            </td>
            <td>
                <a href="/Instructor/Index/13">Select</a> |
                <a href="/Instructor/Edit/13">Edit</a> |
                <a href="/Instructor/Details/13">Details</a> |
                <a href="/Instructor/Delete/13">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Instruct01
            </td>
            <td>
                ContohIntru
            </td>
            <td>
                2017-05-24
            </td>
            <td></td>
            <td></td>
            <td>
                <a href="/Instructor/Index/43">Select</a> |
                <a href="/Instructor/Edit/43">Edit</a> |
                <a href="/Instructor/Details/43">Details</a> |
                <a href="/Instructor/Delete/43">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Jones
            </td>
            <td>
                Samuel
            </td>
            <td>
                2017-05-01
            </td>
            <td></td>
            <td></td>
            <td>
                <a href="/Instructor/Index/39">Select</a> |
                <a href="/Instructor/Edit/39">Edit</a> |
                <a href="/Instructor/Details/39">Details</a> |
                <a href="/Instructor/Delete/39">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Jose
            </td>
            <td>
                Martin Consuegra
            </td>
            <td>
                2016-11-25
            </td>
            <td>
                Home
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/37">Select</a> |
                <a href="/Instructor/Edit/37">Edit</a> |
                <a href="/Instructor/Details/37">Details</a> |
                <a href="/Instructor/Delete/37">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Kapoor
            </td>
            <td>
                Candace
            </td>
            <td>
                2001-01-15
            </td>
            <td>
                Thompson 304
            </td>
            <td>
                1050   Chemistry <br />

            </td>
            <td>
                <a href="/Instructor/Index/67">Select</a> |
                <a href="/Instructor/Edit/67">Edit</a> |
                <a href="/Instructor/Details/67">Details</a> |
                <a href="/Instructor/Delete/67">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Manjunath
            </td>
            <td>
                K
            </td>
            <td>
                2017-07-07
            </td>
            <td>
                Bangalore
            </td>
            <td>
                4022   Microeconomics <br />

            </td>
            <td>
                <a href="/Instructor/Index/65">Select</a> |
                <a href="/Instructor/Edit/65">Edit</a> |
                <a href="/Instructor/Details/65">Details</a> |
                <a href="/Instructor/Delete/65">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Mayor of
            </td>
            <td>
                Contoso City
            </td>
            <td>
                9999-01-01
            </td>
            <td>
                Contoso City
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/63">Select</a> |
                <a href="/Instructor/Edit/63">Edit</a> |
                <a href="/Instructor/Details/63">Details</a> |
                <a href="/Instructor/Delete/63">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Merlin
            </td>
            <td>
                Magic
            </td>
            <td>
                2017-06-22
            </td>
            <td>
                Earth
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/56">Select</a> |
                <a href="/Instructor/Edit/56">Edit</a> |
                <a href="/Instructor/Details/56">Details</a> |
                <a href="/Instructor/Delete/56">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Pii
            </td>
            <td>
                boom
            </td>
            <td>
                2014-01-15
            </td>
            <td>
                Your Houes
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/54">Select</a> |
                <a href="/Instructor/Edit/54">Edit</a> |
                <a href="/Instructor/Details/54">Details</a> |
                <a href="/Instructor/Delete/54">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Smith
            </td>
            <td>
                Phil
            </td>
            <td>
                2017-06-01
            </td>
            <td>
                Los Angeles
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/51">Select</a> |
                <a href="/Instructor/Edit/51">Edit</a> |
                <a href="/Instructor/Details/51">Details</a> |
                <a href="/Instructor/Delete/51">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Song
            </td>
            <td>
                Pat
            </td>
            <td>
                2017-06-22
            </td>
            <td></td>
            <td></td>
            <td>
                <a href="/Instructor/Index/59">Select</a> |
                <a href="/Instructor/Edit/59">Edit</a> |
                <a href="/Instructor/Details/59">Details</a> |
                <a href="/Instructor/Delete/59">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                TRES PATINES
            </td>
            <td>
                LEOPOLDO LOPEZ
            </td>
            <td>
                1927-10-18
            </td>
            <td>
                LA HABANA
            </td>
            <td></td>
            <td>
                <a href="/Instructor/Index/46">Select</a> |
                <a href="/Instructor/Edit/46">Edit</a> |
                <a href="/Instructor/Details/46">Details</a> |
                <a href="/Instructor/Delete/46">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Vihan
            </td>
            <td>
                Jackie
            </td>
            <td>
                2017-06-19
            </td>
            <td>
                Mohali 314/2
            </td>
            <td>
                2021   Composition <br />
                2042   Literature <br />

            </td>
            <td>
                <a href="/Instructor/Index/14">Select</a> |
                <a href="/Instructor/Edit/14">Edit</a> |
                <a href="/Instructor/Details/14">Details</a> |
                <a href="/Instructor/Delete/14">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                waefafa
            </td>
            <td>
                fwaefa
            </td>
            <td>
                2017-06-30
            </td>
            <td></td>
            <td></td>
            <td>
                <a href="/Instructor/Index/62">Select</a> |
                <a href="/Instructor/Edit/62">Edit</a> |
                <a href="/Instructor/Details/62">Details</a> |
                <a href="/Instructor/Delete/62">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Zheng
            </td>
            <td>
                Roger
            </td>
            <td>
                2004-02-12
            </td>
            <td></td>
            <td>
                4022   Microeconomics <br />
                4041   Macroeconomics <br />

            </td>
            <td>
                <a href="/Instructor/Index/49">Select</a> |
                <a href="/Instructor/Edit/49">Edit</a> |
                <a href="/Instructor/Details/49">Details</a> |
                <a href="/Instructor/Delete/49">Delete</a>
            </td>
        </tr>

    </table>

</div>

