<div class="container body-content">



    <h2>Instructors</h2>

    <p>
        <a ui-sref="home.createInstructor">Create New</a>
    </p>
    <table class="table" ng-init="getInstructors()">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Hire Date</th>
            <th>Office</th>
            <th>Courses</th>
            <th></th>
        </tr>

        <tr ng-repeat="instructor in instructors">
            <td>
                {{ instructor.LastName }}
            </td>
            <td>
                {{ instructor.FirstMidName }}
            </td>
            <td>
                {{ instructor.HireDate | date: 'dd-MM-yyyy' }}
            </td>
            <td> {{ instructor.OfficeAssignment.Location }} </td>
            <td>
                <span ng-repeat="course in instructor.Courses">
                    {{ course.CourseID }} {{ course.Title }}
                </span>
            </td>
            <td>
                <a class="btn btn-sm btn-success" ui-sref="home.editInstructor({instructorId: instructor.Id})">Edit</a> |
                <a class="btn btn-sm btn-info" href="/Instructor/Details/66">Details</a> |
                <a class="btn btn-sm btn-danger" href="/Instructor/Delete/66">Delete</a>
            </td>
        </tr>

    </table>

</div>

