
<style>
    input.ng-invalid{
        border: 1px solid red;
    }
</style>
<div class="container body-content">

    <h2>Create</h2>

    <form name="studentForm" class="form-horizontal">
        <div class="form-horizontal">
            <h4>Student</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="LastName">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" type="text" name="LastName" ng-model="student.LastName" ng-minlength="3" placeholder="i.e. Keats" required/>
                    <span class="field-validation-valid text-danger" ng-show="studentForm.LastName.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="FirstMidName">First Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="FirstMidName" type="text" ng-model="student.FirstMidName" placeholder="i.e. John" required/>
                    <span class="field-validation-valid text-danger" ng-show="studentForm.FirstMidName.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="FirstMidName"> Email </label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="EmailAddress" type="email" ng-model="student.EmailAddress" placeholder="i.e. info@johnkeats.com" required />
                    <span class="field-validation-valid text-danger" ng-show="studentForm.EmailAddress.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="EnrollmentDate">Enrollment Date</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="EnrollmentDate" type="date" ng-model="student.EnrollmentDate" required/>
                    <span class="field-validation-valid text-danger" ng-show="studentForm.EnrollmentDate.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" ng-disabled="studentForm.$invalid" value="Save" ng-click="saveStudent(student)" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a ui-sref="home.students">Back to List</a>
    </div>
</div>