<div class="container body-content">


    <h2>Students</h2>

    <p>
        <a ui-sref="home.CreateStudent">Create New</a>
    </p>
    <form>
        <p>
            <input class="form-control" name="searchStudent" type="text" ng-model="searchStudent" placeholder="Search student" />
        </p>
    </form>
    <table class="table" ng-init="getStudents()">
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Enrollment Date
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="student in students| filter:searchStudent">
            <td>
                {{ student.LastName }}
            </td>
            <td>
                {{ student.FirstMidName }}
            </td>
            <td>
                {{ student.EnrollmentDate | date: 'MMM d, y'}}
            </td>
            <td>
                <a ui-sref="home.editStudent({ studentId: student.Id })">Edit</a> |
                <a >Details</a> |
                <a >Delete</a>
            </td>
        </tr>

    </table>

</div>
