<div class="modal-demo">
    <form method="post" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="cancel()">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"> Are you sure, you want to delete this department information? </h4>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-hover">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Budget
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Administrator
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ department.Name }}
                    </td>
                    <td>
                        ${{ department.Budget }}
                    </td>
                    <td>
                        {{ department.StartDate | date: "dd-MM-yyyy" }}
                    </td>
                    <td>
                        {{ department.Administrator.FirstMidName }} {{ department.Administrator.LastName }}
                    </td>
                </tr>

            </table>

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-danger" ng-click="deleteStudent(student.Id)" data-dismiss="modal">Ok</button>
        </div>

    </form>

</div>