<div class="container body-content">

    <h2>Courses</h2>

    <p>
        <a ui-sref="home.createCourse">Create New</a>
    </p>
    <table class="table" ng-init="getCourses()">
        <tr>
            <th>
                Course ID
            </th>
            <th>
                Title
            </th>
            <th>
                Credits
            </th>
            <th>
                Department
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="course in courses">
            <td>
                {{ course.CourseID }}
            </td>
            <td>
                {{ course.Title}}
            </td>
            <td>
                {{ course.Credits}}
            </td>
            <td>
                {{ course.Department.Name }}
            </td>
            <td>
                <a class="btn btn-sm btn-success" ui-sref="home.editCourse({ courseId: course.Id})">Edit</a> |
                <a href="/Course/Details/1045">Details</a> |
                <a href="/Course/Delete/1045">Delete</a>
            </td>
        </tr>

    </table>


</div>

