<style>
    input.ng-invalid {
        border: 1px solid red;
    }
</style>

<div class="container body-content">

    <h2>Create</h2>

    <form name="departmentForm">

        <div class="form-horizontal">
            <h4>Department</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="Name">Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="Name" ng-model="department.Name" type="text" placeholder="Name" required/>
                    <span class="field-validation-valid text-danger" ng-show="departmentForm.Name.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Budget">Budget</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="Budget" ng-model="department.Budget" type="text" placeholder="Budget" required/>
                    <span class="field-validation-valid text-danger" ng-show="departmentForm.Budget.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="StartDate">Start Date</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" name="StartDate" ng-model="department.StartDate" type="date" placeholder="Start Date" required/>
                    <span class="field-validation-valid text-danger" ng-show="departmentForm.StartDate.$invalid"> Required!</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="InstructorID">Administrator</label>
                <div class="col-md-10" ng-init="getInstructors()">
                    <ui-select ng-model="instructor.selected" theme="select2" style="height:40px; font-size: 12px; width: 100%;" title="Choose a instructor">
                        <ui-select-match placeholder="Select a instructor">{{$select.selected.FirstMidName }} {{$select.selected.LastName }}</ui-select-match>
                        <ui-select-choices repeat="instructor in instructors | propsFilter: {LastName: $select.search}">
                            <div ng-bind-html="instructor.FirstMidName + ' ' + instructor.LastName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" ng-disabled="departmentForm.$invalid" ng-click="saveDepartment(department, instructor.selected)" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a ui-sref="home.departments">Back to List</a>
    </div>


</div>
