<div class="container body-content">



    <h2>Create</h2>


    <form action="/Department/Create" method="post">
        <input name="__RequestVerificationToken" type="hidden" value="6BWH_IwOCma4gpYU3y7SsL8jbdHtwq-8rvyWN8eynTGFa5yVsdQkDVv1jKMCAbNbQ32UVQPSsex5esFdplXt0i-y-XtwSO968FunusUx1ls1" />    <div class="form-horizontal">
            <h4>Department</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="Name">Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-length="The field Name must be a string with a minimum length of 3 and a maximum length of 50." data-val-length-max="50" data-val-length-min="3" id="Name" name="Name" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Budget">Budget</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field Budget must be a number." data-val-required="The Budget field is required." id="Budget" name="Budget" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Budget" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="StartDate">Start Date</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-date="The field Start Date must be a date." data-val-required="The Start Date field is required." id="StartDate" name="StartDate" type="date" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="StartDate" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="InstructorID">Administrator</label>
                <div class="col-md-10">
                    <select class="form-control" id="InstructorID" name="InstructorID">
                        <option value="12">Fakhouri</option>
                        <option value="13">Harui</option>
                        <option value="14">Vihan</option>
                        <option value="21">Gil  af</option>
                        <option value="34">fiest</option>
                        <option value="37">Jose</option>
                        <option value="39">Jones</option>
                        <option value="43">Instruct01</option>
                        <option value="45">BOLIVAR CRUZADO</option>
                        <option value="46">TRES PATINES</option>
                        <option value="48">Con</option>
                        <option value="49">Zheng</option>
                        <option value="51">Smith</option>
                        <option value="54">Pii</option>
                        <option value="56">Merlin</option>
                        <option value="57">gudie</option>
                        <option value="59">Song</option>
                        <option value="61">fawfew</option>
                        <option value="62">waefafa</option>
                        <option value="63">Mayor of</option>
                        <option value="64">Asante</option>
                        <option value="65">Manjunath</option>
                        <option value="66">Abercrombie</option>
                        <option value="67">Kapoor</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-for="InstructorID" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a ui-sref="home.departments">Back to List</a>
    </div>


</div>
