<div class="container body-content">


    <h2>Departments</h2>
    <p>
        <a ui-sref="home.createDepartment">Create New</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Budget
            </th>
            <th>
                Start Date
            </th>
            <th>
                Administrator
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                Economics
            </td>
            <td>
                $100,000.00
            </td>
            <td>
                2007-09-01
            </td>
            <td>
                Kapoor, Candace
            </td>
            <td>
                <a href="/Department/Edit/59">Edit</a> |
                <a href="/Department/Details/59">Details</a> |
                <a href="/Department/Delete/59">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                English
            </td>
            <td>
                $350,000.00
            </td>
            <td>
                2007-09-01
            </td>
            <td>
                Abercrombie, Kim
            </td>
            <td>
                <a href="/Department/Edit/60">Edit</a> |
                <a href="/Department/Details/60">Details</a> |
                <a href="/Department/Delete/60">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Information Technology
            </td>
            <td>
                $2,345,100.00
            </td>
            <td>
                2017-07-12
            </td>
            <td>
                Vihan, Jackie
            </td>
            <td>
                <a href="/Department/Edit/63">Edit</a> |
                <a href="/Department/Details/63">Details</a> |
                <a href="/Department/Delete/63">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Mathematics
            </td>
            <td>
                $100,000.00
            </td>
            <td>
                2007-09-01
            </td>
            <td>
                Fakhouri, Fadi
            </td>
            <td>
                <a href="/Department/Edit/65">Edit</a> |
                <a href="/Department/Details/65">Details</a> |
                <a href="/Department/Delete/65">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                My Department
            </td>
            <td>
                $56,666.00
            </td>
            <td>
                2015-07-11
            </td>
            <td>
                Jones, Samuel
            </td>
            <td>
                <a href="/Department/Edit/66">Edit</a> |
                <a href="/Department/Details/66">Details</a> |
                <a href="/Department/Delete/66">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                Engineering
            </td>
            <td>
                $350,000.00
            </td>
            <td>
                2007-09-01
            </td>
            <td>
                Harui, Roger
            </td>
            <td>
                <a href="/Department/Edit/67">Edit</a> |
                <a href="/Department/Details/67">Details</a> |
                <a href="/Department/Delete/67">Delete</a>
            </td>
        </tr>
    </table>

</div>
