<div class="container body-content">


    <h2>Departments</h2>
    <p>
        <a ui-sref="home.createDepartment">Create New</a>
    </p>
    <table class="table" ng-init="getDepartments()">
        <tr>
            <th>
                Name
            </th>
            <th>
                Budget
            </th>
            <th>
                Start Date
            </th>
            <th>
                Administrator
            </th>
            <th></th>
        </tr>
        <tr ng-repeat="department in departments">
            <td>
                {{ department.Name }}
            </td>
            <td>
                ${{ department.Budget }}
            </td>
            <td>
                {{ department.StartDate | date: "dd-MM-yyyy" }}
            </td>
            <td>
                {{ department.Administrator.FirstMidName }} {{ department.Administrator.LastName }}
            </td>
            <td>
                <a class="btn btn-sm btn-success" ui-sref="home.editDepartment({ departmentId: department.Id })">Edit</a> |
                <a class="btn btn-sm btn-info" ui-sref="home.departmentDetails({ departmentId: department.Id })">Details</a> |
                <a class="btn btn-danger btn-sm" ng-click="confirmDelete(department.Id)">Delete</a>
            </td>
        </tr>
        
    </table>

</div>
